/* Project-wide style */


body {
  background-image:url(background2.jfif);
}

h1.welcome{
  color:black;
  text-align: center;
  font-style: verdana;
}

h3{
  text-align: center;
  font-style: lucida;
}

p.monospace {
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
}

.panel-title:hover {
  cursor: pointer;
}

