{% extends 'base.html' %}
{% load static %}
{% block meta %}

{% endblock meta %}

{% block content %}
  <h1 class="welcome">
    Welcome to Story PPW
  </h1>
  
  <script>
    $(function () {
var active = true;

$('#collapse-init').click(function () {
    if (active) {
        active = false;
        $('.panel-collapse').collapse('show');
        $('.panel-title').attr('data-toggle', '');
        $(this).text('Enable accordion behavior');
    } else {
        active = true;
        $('.panel-collapse').collapse('hide');
        $('.panel-title').attr('data-toggle', 'collapse');
        $(this).text('Disable accordion behavior');
    }
});

$('#accordion').on('show.bs.collapse', function () {
    if (active) $('#accordion .in').collapse('hide');
});

});
</script>

<div class="panel-group" id="accordion">
  <!-- Panel Pertama -->
  <div class="panel panel-default">
      <div class="panel-heading">
           <h3 class="panel-title"
               data-toggle="collapse" 
               data-target="#collapseOne">
               Identitas
           </h3>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body" style="background-color: yellow;">
            <div>
              <p class="monospace">
                Nama : Bonifasius Erlangga Einsoni Rienko
              </p>
              <p class="monospace">
                TTL : Klaten, 29 Juni 2001
              </p>
              <p class="monospace">
                Goldar : AB
              </p>
            </div>
          </div>
      </div>
  </div>
  <!--Panel Kedua-->
  <div class="panel panel-default">
    <div class="panel-heading">
         <h3 class="panel-title"
             data-toggle="collapse" 
             data-target="#collapseTwo">
             Hobi
         </h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body" style="background-color: greenyellow;">
          <div>
            <p class="monospace">
              * Photograph
            </p>
            <p class="monospace">
              * Denger Musik
            </p>
            <p class="monospace">
              * Makan
            </p>
            <p class="monospace">
              * Tidur
            </p>
          </div>
        </div>
    </div>
</div>
<!--Panel Ketiga-->
<div class="panel panel-default">
  <div class="panel-heading">
       <h3 class="panel-title"
           data-toggle="collapse" 
           data-target="#collapseThree">
           Sekolah
       </h3>
  </div>
  <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body" style="background-color: yellowgreen;">
        <div>
          <p class="monospace">
            SMA : SMAN 5 Depok
          </p>
          <p class="monospace">
            Universitas Indonesia, Sistem Informasi
          </p>
        </div>
      </div>
  </div>
</div>
<!--Panel Keempat-->
<div class="panel panel-default">
  <div class="panel-heading">
       <h3 class="panel-title"
           data-toggle="collapse" 
           data-target="#collapseFour">
           Aktivitas
       </h3>
  </div>
  <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body" style="background-color: yellow;">
        <div>
          <p class="monospace">
            * Sedang belajar PPW
          </p>
          <p class="monospace">
            * Mengerjakan story
          </p>
        </div>
      </div>
  </div>
</div>
<!--Panel Kelima-->
<div class="panel panel-default">
  <div class="panel-heading">
       <h3 class="panel-title"
           data-toggle="collapse" 
           data-target="#collapseFive">
           Organisasi
       </h3>
  </div>
  <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body" style="background-color: greenyellow;">
        <div>
          <p class="monospace">
            * KUKSA / KMK
          </p>
        </div>
      </div>
  </div>
</div>

</div>

{% endblock content %}
